.accordion {
    position: relative;
    padding-top: rem($baseline * 2);
    padding-bottom: rem($baseline * 2);
}

.accordion__button-toggle {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid $color-grey;
    font-size: rem(16);
    line-height: rem($baseline * 2);

    &::after {
        content: '-';
    }
}

.accordion__content {
    display: none;
    width: 100%;
    padding-top: rem($baseline);
    padding-bottom: rem($baseline);
    font-size: rem(16);
    line-height: rem($baseline);
    transition: opacity 0.2s linear;

    & > * + img {
        margin-top: rem($baseline * 1.5);
    }

    & > * + p {
        margin-top: rem($baseline * 1);
    }

    & > img + p {
        margin-top: rem($baseline * 1.5);
    }
}

.accordion__list-item {
    &.is-active {
        & .accordion__button-toggle {
            font-weight: 500;

            &::after {
                content: '+';
            }
        }

        & .accordion__content {
            display: block;
        }
    }
}

@include mq-wide {
    .accordion {
        padding: rem($baseline * 4) grid('wide', 1, 18);
    }

    .accordion__button-toggle {
        width: grid('wide', 6, 16);
    }

    .accordion__content {
        position: absolute;
        top: rem($baseline * 4);
        right: grid('wide', 1, 18);
        width: grid('wide', 8, 18);
        transition: opacity 0.2s linear;
    }
}