.container {
    width: calc(100% - #{rem($baseline * 2)});
    margin-right: auto;
    margin-left: auto;
}

@include mq-regular {
    .container {
        width: calc(100% - #{rem($baseline * 6)});
        max-width: rem(1500);
    }
}