.header {
    position: relative;
    z-index: $z-index-header;
}

.header__logo {
    position: fixed;
    top: rem($baseline);
    left: rem($baseline);
    z-index: $z-index-header-logo;
    width: rem($baseline);

    &::after {
        display: none;
    }
}

.header__button-menu {
    position: fixed;
    top: rem($baseline);
    right: rem($baseline);
    z-index: $z-index-header-menu;
}

@include mq-wide {
    .header__logo {
        top: rem($baseline * 2);
        left: rem($baseline * 2);
        width: rem($baseline * 2);
    }

    .header__button-menu {
        top: rem($baseline * 2);
        right: rem($baseline * 2);
    }
}