.header {
    position: relative;
    z-index: $z-index-header;
}

.header__logo {
    position: fixed;
    top: rem($baseline * 2);
    left: rem($baseline * 2);
    z-index: $z-index-header-logo;
    width: rem($baseline * 2);

    &::after {
        display: none;
    }
}

.header__button-menu {
    position: fixed;
    top: rem($baseline * 2);
    right: rem($baseline * 2);
    z-index: $z-index-header-menu;
}