.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: rem($baseline * 5) rem($baseline * 3);
    background-color: $color-white;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s linear;

    &.is-open {
        visibility: visible;
        opacity: 1;
    }
}

.menu__list-main {
    text-align: right;
}