.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
    padding: rem($baseline * 2) rem($baseline);
    overflow-y: auto;
    visibility: hidden;
    background-color: $color-white;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.menu__list-contact {
    margin-top: rem($baseline * 2);
    visibility: hidden;
    opacity: 0;
}

.menu__list-main {
    margin-top: auto;
}

.menu__list-item-main {
    visibility: hidden;
    opacity: 0;
}

@include mq-regular {
    .menu {
        padding: rem($baseline * 5) rem($baseline * 3);
    }
}

@include mq-wide {
    .menu {
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
    }

    .menu__list-main {
        text-align: right;
    }

    .menu__list-contact {
        width: grid('wide', 7, 18);
    }
}