@font-face {
    font-family: 'untitled-sans-web-light';
    src: url('../assets/fonts/untitled-sans-web-light.woff2') format('woff2'),
         url('../assets/fonts/untitled-sans-web-light.woff') format('woff');
}

@font-face {
    font-family: 'untitled-sans-web-medium';
    src: url('../assets/fonts/untitled-sans-web-medium.woff2') format('woff2'),
         url('../assets/fonts/untitled-sans-web-medium.woff') format('woff');
}