$font-size-base: 26px;
$baseline: 24;

$color-black: #000000;
$color-white: #FFFFFF;
$color-grey: #E0E0E0;
$color-grey-light: #F7F7F7;

$z-index-header: 2;
$z-index-header-logo: 2;
$z-index-header-menu: 2;