.heading-large {
    font-size: rem(54);
    hyphens: auto;
    letter-spacing: -0.025em;
    line-height: rem($baseline * 2.5);
    word-break: break-word;
}

@include mq-wide {
    .heading-large {
        font-size: rem(110);
        line-height: rem($baseline * 5);
    }
}