a {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 0.03em;
        width: 100%;
        background-color: $color-black;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s cubic-bezier(0.5, 0, 0, 1);
    }

    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}